html, body {
  margin: 0;
  position: relative;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
}
div#overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.9;
  z-index: 200;
}