html, body {
  margin: 0;
  position: relative;
  background-color: darkgray;
}
iframe {
  width:  100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}
div#overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  z-index: 200;
}